<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161050729194-hp5fe8gro6hrop4mhml54dnhs0ihtr7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161050729194-hp5fe8gro6hrop4mhml54dnhs0ihtr7r</string>
	<key>API_KEY</key>
	<string>AIzaSyC2DZMJZ5ImyDhSnfEy6CTdwSDz0qH1BVc</string>
	<key>GCM_SENDER_ID</key>
	<string>161050729194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.uk.effectivecode.RemoteConfig</string>
	<key>PROJECT_ID</key>
	<string>fir-remoteconfigapp-f99fc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-remoteconfigapp-f99fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161050729194:ios:373d920a20efafe651d593</string>
</dict>
</plist>